<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="ToConsoleLog"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %marker [%X{MDC_KEY}] %highlight(%-5level) %X{USER_X} %X{REQUEST_URI} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="ToConsoleLog" />
    </root>

</configuration>